div#sudo-button img {
  float:left;
}

div#sudo-button img.sudo-img-r {
  float:right;
}

div#sudo-button input {
  height:24px;
  border: 0 none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-transform:uppercase;
  font-size:9px;
  font-family:tahoma;
  color:darkslategray;
}

div#sudo-button {
  position:fixed;
  right:0;
  bottom:0;
}

div#sudo-button form {
  margin: 0px 7px !important;
}
